#AboutUsContainer{
    overflow: hidden;
}
.TopBannerContainerCommon {
    width: 100%;

}
#WhatDoesBhawalContainer{
    padding-top: 4rem;
}
.ImageBackContainerWithContent {
    width: 100%;
    position: relative;
}

.ImageBackContainerWithContent .overlayContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.452);
}

.ImageBackContainerWithContent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CommonTopContainer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ContentContainerTopheader {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    right: 0px;
    z-index: 5;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.ContentContainerTopheader h2,
.ContentContainerTopheader p {
    color: white;
    margin: 10px 0px;
}

.ContentContainerTopheader {
    padding: 0rem 6rem;
}

.AboutUsImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.AboutUsImageContainer {
    padding-right: 20px;
    height: 600px;
    overflow: hidden;
}

.AboutUsContentContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

#WhatDoesBhawalContainer .WhatDoesBhawalImageContainer div img {
    width: 90%;
}

.WhatDoesBhawalImageContainer {
    position: sticky;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

@media (max-width:900px){
    #WhatDoesBhawalContainer{
        padding-top: 4rem;
    }
    .CommonTopContainer {
        height: 500px;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .WhatDoesBhawalImageContainer{
        margin-bottom: 20px;
    }
    .AboutUsImageContainer{
        margin-bottom: 20px;
    }
    .ImageBackContainerWithContent {
        width: 100%;
        position: relative;
        height: 100%;
    }
    .ContentContainerTopheader {
        padding: 0rem 2rem;
    }
    #WhatDoesBhawalContainer{
        padding-left: 0px;
        padding-right: 0px;
    }
    .AboutUsImageContainer {
        padding-right: 0px;
        height: 300px;
        overflow: hidden;
    }
    
}