#SlidesStyles {
    padding: 6rem 6rem;
    background-color: rgb(249, 249, 249);
}

#SlidesStyles .SwiperContainerIndustries {
    margin-top: 6rem;
}

.SwiperContainerIndustries .CardImageContainer div {
    border-radius: 10px;
}

.SwiperContainerIndustries .CardImageContainerIndustries div img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.SwiperContainerIndustries .CardImageContainerIndustries {
    padding-left: 4rem;
    /* height: 70%; */
    overflow: hidden;
}

/* .SwiperMainContainer {
    padding: 0rem 4rem;
} */

.DynamicPagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 15px;
    margin: 4rem 0rem;
}

.pagination-item {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #555;
    transition: all 0.3s ease;
    padding: 10px 20px;
}

.pagination-item.active {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #840000;
    padding: 10px 20px;
}

.IndustriesDataToShowModals {
    margin: 4rem 0rem;
}

.IndustriesMobileCards {
    padding: 20px 10px;
    background-color: #840000;
    /* width: 100%; */
    margin: 10px 0px;
    color: white;
display: none;
}

.IndustriesDataToShowModals .ColourButton {
    border: 1px solid white !important;
}

.IndustriesDataToShowModals .ant-row .ant-col:nth-child(odd) .IndustriesMobileCards {
    background-color: white !important;
    border: 1px solid black;
}

.IndustriesDataToShowModals .ant-row .ant-col:nth-child(odd) .IndustriesMobileCards {
    color: black;
}

@media (max-width:900px) {
    .IndustriesMobileCards{
        display: block;
    }
    .DynamicPagination {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        gap: 15px;
        margin: 4rem 0rem;
        margin-top: 0px !important;
        overflow: auto;
        display: none;
    }

    #SlidesStyles {
        padding: 6rem 1rem;
        background-color: rgb(249, 249, 249);
    }

    .SwiperContainerIndustries .CardImageContainerIndustries {
        padding-left: 0rem;
        /* height: 70%; */
        overflow: hidden;
        padding-top: 2rem;
    }

    .SwiperContainerIndustries {
        display: none;
    }
}