.GalleryImageContainer {
    height: 300px;
    /* width: 100%; */
    overflow: hidden;
    padding: 10px;
}

.GalleryImageContainer .ant-image  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.GalleryImageContainer .ant-image-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.FacilitiesAndServicesContentSwiper {
    height: 550px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:900px){
    .FacilitiesAndServicesContentSwiper {
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .GalleryImageContainer {
        height: 300px;
        /* width: 100%; */
        overflow: hidden;
        padding: 10px 0px !important;
    }
    
}