#MissionVisionContainer {
    position: relative;
    margin: 0rem 0rem;
    color: white;
}

.backGroundColor {
    background-color: black;
    position: absolute;
    left: -200px;
    right: -200px;
    height: 100%;
    top: 0px;
    display: flex;
    justify-content: space-around;
}

.interChangeRowAdjust {
    overflow: hidden;
}

.VisionMissionContainerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.interChangeRowAdjust li {
    font-size: 18px;
}

.interChangeRowAdjust h2 {
    color: white !important;
}

.LinesContainer {
    /* position: absolute; */
    width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.057);
    height: 100%;
}

.VisionMissionContainerImage {
    padding-right: 20px;
    max-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.interChangeRowAdjust .ant-row:nth-child(2) .ant-col:nth-child(2) {
    padding-left: 20px;
    padding-right: 0px !important;
}

#MissionVisionContainer {
    padding: 3rem 0rem;
}

@media (max-width:900px) {
    .VisionMissionContainerImage {
        padding-right: 0px;
        max-height: 30vh;
        overflow: hidden;
    }
    .interChangeRowAdjust ul{
        padding-left: 15px;
    }

    .interChangeRowAdjust .ant-row .ant-col {
        padding: 0px !important;
    }

    .interChangeRowAdjust .ant-row {
        border-bottom: 1px solid white;
    }
}