.HomePagePointsContainer {
    padding-top: 130px;
}

.HomePagePointsContainer .ant-row .ant-col>div div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
}

.HomePagePointsContainer .ant-row .ant-col>div div::before {
    height: 70px;
    width: 5px;
    background-color: #840000;
    content: "";
    display: inline-flex;
    border-radius: 5px;
}


#BhawalHomeContainer .ant-row .ant-col:nth-child(2) div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#BhawalHomeContainer .ant-row .ant-col:nth-child(1) .SideContentContainer {
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 6rem;
}

.BoxesContainer {
    height: 10vh;
    background-color: white;
    /* width: 100%; */
    right: 0px;
    left: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    margin: 0px 3rem;
    border-radius: 20px 20px 0px 0px;

}

.BoxEditContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #617E87;
    border-left: 1px dashed #617E87;
}

.HoverableContainer {
    position: absolute;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    top: 0px;
    opacity: 0;
    transform: translateY(10px);
    background-color: #617E87;
    transition: .5s;
}

.BoxEditContainer:hover .HoverableContainer {
    opacity: 1;
    transform: translateY(-37px);
    padding: 5px 0px;
    transition: .5s;
}

.BoxEditContainer p {
    font-style: italic !important;
    font-family: unset;
}

.BoxEditContainer h2 {
    font-weight: 600 !important;
}

#BhawalHomeContainer {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#BhawalHomeContainer .swiper {
    overflow: hidden;
}

#BhawalHomeContainer .swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoomEffect 12s infinite;
}

@keyframes zoomEffect {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
        /* Zoom in */
    }

    100% {
        transform: scale(1);
        /* Zoom out */
    }
}


#BhawalHomeContainer .swiper-button-next {
    padding: 50px 20px;
    border: 1px solid #617E87;
    right: -1px;
    border-radius: 100px 0px 0px 100px;
    transition: .5s;
}

#BhawalHomeContainer .swiper-button-next::after,
#BhawalHomeContainer .swiper-button-prev::after {
    color: #617E87;
    transition: .5s;
}

#BhawalHomeContainer .swiper-button-next:hover,
#BhawalHomeContainer .swiper-button-prev:hover {
    padding: 50px 30px;
    transition: .5s;
}

#BhawalHomeContainer .swiper-button-prev {
    padding: 50px 20px;
    border: 1px solid #617E87;
    left: -1px;
    border-radius: 0px 100px 100px 0px;
    transition: .5s;
}

.OverlayEffectContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.509);
    z-index: 3;
}

.ContentContainerSwiperHome {
    position: absolute;
    z-index: 4;
    /* width: 50%; */
}

.ContentContainerSwiperHome h1 {
    color: white;
}

.Paragraph {
    display: flex;
    justify-content: center;
}

.ContentContainerSwiperHome p {
    text-align: center;
    width: 60%;

}

#HomePagTitle {
    font-size: 30px;
}

@media (max-width:900px) {
    #BhawalHomeContainer {
        height: 100vh;
        overflow: hidden;
        position: relative;
        margin-top: 84px;
    }

    .ContentContainerSwiperHome p {
        text-align: center;
        width: 100%;

    }

    #BhawalHomeContainer .swiper-button-next:hover,
    #BhawalHomeContainer .swiper-button-prev:hover {
        padding: 20px 10px;
        transition: .5s;
    }

    #BhawalHomeContainer .swiper-button-next {
        padding: 20px 10px;
        border: 1px solid #617E87;
        right: -1px;
        border-radius: 100px 0px 0px 100px;
        transition: .5s;
    }

    #BhawalHomeContainer .swiper-button-prev {
        padding: 20px 10px;
        border: 1px solid #617E87;
        left: -1px;
        border-radius: 0px 100px 100px 0px;
        transition: .5s;
    }


    .ContentContainerSwiperHome {
        position: absolute;
        width: 80%;
    }

    #BhawalHomeContainer .ant-row .ant-col:nth-child(1) .SideContentContainer {
        padding: 0rem 1rem;
        height: unset;
        margin: 6rem 0rem;
        margin-top: 8rem !important;
    }

    .BoxesContainer .BoxEditContainer {

        display: flex;
        align-items: center;
        justify-content: start;
        transition: .5s;
        padding: 0px 10px;
    }

    .BoxesContainer {
        height: 30vh;
        background-color: white;
        width: 100%;
        display: none;
    }

    #BhawalHomeContainer .ant-row .ant-col:nth-child(2) div {
        height: 30vh;
        overflow: hidden;
    }

    .BoxesContainer .BoxEditContainer {
        border: none !important;
        background-color: #840000;
        color: white;
    }

    .AnimatedbtnContainer {
        margin-bottom: 0px;
    }
}