#CommonHeaderHeightAdjust {
    height: 70vh;
    overflow: hidden;
    width: 100%;
}

#CommonHeaderHeightAdjust .swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.RouteLinks a {
    color: white;
}

.RouteLinks {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.BigHeadingNormal{
    font-size: 102px;
    font-family: 'Helvetica Now MT Micro', sans-serif;
}

@media (max-width:900px){

.BigHeadingNormal{
    font-size: 40px;
}
}