#navigationBarAdjust {
    position: sticky;
    top: 0px;
    z-index: 2;
}



.NavigationbarContainer {
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: transparent;
    /* width: 100%; */
    z-index: 1000;
    padding: 0rem 3rem;
    margin-top: 2rem;
    height: 84px;
    display: flex
;
    /* width: 100%; */
    align-items: center;
}

.AdjustBothContainerNavigation {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    align-items: center;

}

.MenuBtnContainer div svg {
    font-size: 30px;
    color: black;
}

.NavigationContainer {
    /* height: 100%; */
    width: 100%;

}

.navigationLinksContainerList {
    padding: 0px;
}

.navigationLinksContainerList li {
    list-style: none;
    margin: 20px 0px;
    font-size: 18px;
    transition: .5s;
}

.navigationLinksContainerList a {
    color: black;
}

.navigationLinksContainerList li:hover {
    list-style: none;
    margin: 20px 0px;
    font-size: 18px;
    padding-left: 10px;
    transition: .5s;
    color: #840000;
    cursor: pointer;
}

.ContactBtnContainer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 10vh;
    right: 0px;
    background-color: black;
}

.HeightAdjustContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BrandLogoContainer img {
    width: 110px;
}

.FillContainerOnBack {
    background-color: white;
    height: 84px;
    /* width: 100%; */
    /* margin: 0rem 3rem; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0px;
    transition: height 0.3s ease-in-out;
    z-index: 999;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* margin-top: 2rem; */
}

.ant-drawer {
    z-index: 666666666;
}

.NavigationbarContainer li {
    /* color: black; */
    position: relative;
    transition: .5s;
}

.NavigationbarContainer li::before {
    content: "";
    position: absolute;
    bottom: -29px;
    width: 100%;
    background-color: #840000;
    height: 2px;
    opacity: 0;
    transition: .5s;
}
.NavigationbarContainer li:hover::before {
    content: "";
    position: absolute;
    bottom: -29px;
    width: 100%;
    background-color: #840000;
    height: 2px;
    opacity: 1;
    transition: .5s;
}


.NavigationbarContainer .ant-row {
    padding: 0px 20px;
}

.PCShowNavigationLinks {
    display: flex !important;
    gap: 20px;
    list-style: none;
    font-size: 18px;
}

.MenuBtnContainer svg {
    display: none;
}

@media (max-width:900px) {
    .MenuBtnContainer svg {
        display: block;
    }

    .PCShowNavigationLinks {
        display: none !important;
    }

    .NavigationbarContainer .ant-row {
        padding: 0px 0px;
    }

    .NavigationbarContainer {
        position: absolute;
        left: 0px;
        right: 0px;
        background-color: white;
        /* width: 100%; */
        z-index: 1000;
        padding: 0rem 1rem;
        margin-top: 0px !important;
    }

    .MenuBtnContainer div svg {
        font-size: 30px;
        color: black !important;
    }

    .FillContainerOnBack {
        margin-top: 0px !important;
    }
}