@import url(https://db.onlinewebfonts.com/c/a31b7939b8b59ccb73ca9a5e46bb11cc?family=THICCCBOI+Thin);
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

p {
    font-size: 18px;
    font-family: "Onest", sans-serif;
}

.BigHeading {
    font-size: 48px !important;
    color: #617E87;
    line-height: 60px;
    margin-bottom: 40px;
    font-family: "Onest", sans-serif;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 1rem !important;
}

.Redbtn {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #840000;
    color: white;
    margin: 20px 0px;
    font-family: "Onest", sans-serif;
}

.GrayBtn {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #D9D9D9;
    color: #840000;
    margin: 20px 0px;
    font-family: "Onest", sans-serif;
}

.textCenter {
    text-align: center;
}

h2 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Onest", sans-serif;
    font-weight: 400;
}

.AnimatedbtnContainer {
    display: flex;
    width: 100%;
    margin: 20px 0px;
}

.AnimatedbtnContainer .ColourButton {
    background-color: #840000;
    color: white;
    border: none;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .5s;
    border: 1px solid transparent;
}

.AnimatedbtnContainer .ColourButton:hover {
    background-color: transparent;
    color: black;
    border: 1px solid #840000;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: .5s;
}
.containerGap{
    margin: 6rem 0rem;
}

@media (max-width:900px) {
    .textCenter {
        text-align: start;
    }
}