/* @import url("https://db.onlinewebfonts.com/c/a31b7939b8b59ccb73ca9a5e46bb11cc?family=THICCCBOI+Thin"); */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
p {
    font-size: 18px;
    font-family: "Onest", sans-serif;

}

.BigHeadingNormal {
    font-size: 30px ;
    color: #617E87;
    line-height: 60px;
    /* margin-bottom: 40px; */
    font-family: "Onest", sans-serif;
    font-weight: 600;
    line-height: 50px;
    text-align: center !important;
    margin-bottom: 0rem ;
    /* border-top: 1px solid #617E87; */
    /* display: flex;
    align-items: center; */
}
.ant-modal-title{
    font-size: 18px !important;
}
b{
    font-weight: 500;
}
.BigHeading {
    font-size: 23px !important;
    color: #617E87;
    line-height: 60px;
    margin-bottom: 40px;
    font-family: "Onest", sans-serif;
    font-weight: 600;
    line-height: 30px;
    text-align: start;
    margin-bottom: 1rem !important;
    border-top: 1px solid #617E87;
    display: flex;
    align-items: center;
    padding: 15px 0px;
}

.BigHeading::before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #617E87;
    display: inline-block;
    margin-right: 10px;
    rotate: 45deg;
}

.Redbtn {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #840000;
    color: white;
    margin: 20px 0px;
    font-family: "Onest", sans-serif;
}

.GrayBtn {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #D9D9D9;
    color: #840000;
    margin: 20px 0px;
    font-family: "Onest", sans-serif;
}

.textCenter {
    text-align: start;
}

h2 {
    font-size: 23px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Onest", sans-serif;
    font-weight: 400;
}

.AnimatedbtnContainer {
    display: flex;
    width: 100%;
    margin: 20px 0px;
    overflow: hidden;
}

.AnimatedbtnContainer .ColourButton {
    background-color: #840000;
    color: white;
    border: none;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .5s;
    border: 1px solid transparent;
    cursor: pointer;
}

.AnimatedbtnContainer .ColourButton:hover {
    background-color: transparent;
    color: black;
    border: 1px solid #840000;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: .5s;
}

.containerGap {
    margin: 4rem 0rem;
}

.contentInfoContainer {
    padding: 0rem 0rem;
    padding-bottom: 4rem;
}



.ant-table-thead .ant-table-cell {
    background-color: #617e8725 !important;
}

@media (max-width:900px) {
    p {
        font-size: 18px;
        font-family: "Onest", sans-serif;
        hyphens: auto;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .BigHeading::before {
        content: "";
        height: 10px;
        width: 10px;
        background-color: #617E87;
        display: inline-block;
        margin-right: 10px;
        rotate: 45deg;
        display: none;
    }

    .contentInfoContainer {
        padding: 0rem 0rem;
    }

    .containerGap {
        margin: 2rem 0rem;
    }

    .textCenter {
        text-align: start;
    }

    .BigHeading {
        font-size: 30px !important;
        color: #617E87;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 40px;
        font-family: "Onest", sans-serif;

        margin-bottom: 1rem !important;
    }
}