@import url('https://fonts.cdnfonts.com/css/helvetica-now-mt-micro');

:root {
  font-family: 'Helvetica Now MT Micro', sans-serif !important;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  font-family: 'Helvetica Now MT Micro', sans-serif !important;
}

li{
  font-family: 'Helvetica Now MT Micro', sans-serif !important;
  font-size: 16px !important;
}
a {
  text-decoration: none;
}

p {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5 h6 {
  margin: 0px;
}

section {
  padding: 6rem 3rem;
  overflow: hidden;
}

@media (max-width:769px) {
  section {
    padding: 4rem 1rem;
  }
}

@media (min-width:1500px) and (max-width:4000px){
  section {
    padding: 6rem 6rem;
  }
}