.ScrollToTopBtn{
    position: fixed;
    right: 5px;
    bottom: 59px;
    background-color: transparent;
    border:none;
    z-index: 555;
    transition: .5s;
    cursor: pointer;
}
.ScrollToTopBtn svg{
    font-size: 30px;
    background-color: #840000;
    padding: 5px;
    border-radius: 50%;
    color: white;
    transition: .5s;
}