#UnwaveringEffortsContentContainer{
background-image: url("https://s3.ap-south-1.amazonaws.com/prepseed/prod/ldoc/inventoryManagement/seZNSF0uWzTFY5yemNRL/UnwaveringEfforts.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
position: relative;
color: white;
}
.overlayContainerUnwavering{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(0 0 0 / 69%);
}
.RightSideHeadingContainer .ant-row .ant-col{
    padding: 0px 10px;
}
.RightSideHeadingContainer .ant-row .ant-col div{
padding: 20px 0px;
border-bottom: 1px solid #617E87;
}

@media (max-width:900px){
    .RightSideHeadingContainer .ant-row .ant-col{
        width: 50%;
    }
    .RightSideHeadingContainer .ant-row .ant-col{
       padding: 0px 5px;
    }
}