#UnwaveringEffortsContentContainer{
background-image: url("https://images.unsplash.com/photo-1730584475685-2b0de8af10b7?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
position: relative;
color: white;
}
.overlayContainerUnwavering{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(0 0 0 / 69%);
}
.RightSideHeadingContainer .ant-row .ant-col{
    padding: 0px 10px;
}
.RightSideHeadingContainer .ant-row .ant-col div{
padding: 20px 0px;
border-bottom: 1px solid #617E87;
}

@media (max-width:900px){
    .RightSideHeadingContainer .ant-row .ant-col{
        width: 50%;
    }
    .RightSideHeadingContainer .ant-row .ant-col{
       padding: 0px 5px;
    }
}